<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>encurta.ai</h1>
          <p class="lead">O melhor encurtador de URLs do mundo!</p>
          
          <br><br><br>
          
          <%= form_for(@link,url: create_path, html: {:class => 'col-lg-12'}) do |f| %>
          
            <% if @link.errors.any? %>
              <p class="text-danger">Há erros no link.</p>
            <% end %>
  
            <div class="input-group input-center">
              <%= f.text_field(:url, placeholder: 'Insira seu link aqui', class: 'form-control input-lg')%>
              <span class="input-group-btn">
                <%= f.submit( value: 'Encurtar!', class: 'btn btn-lg btn-primary') %>
              </span>
            </div>

          <% end %>
        </div>
        
      </div> <!-- /row -->

</div> <!-- /container full -->

